<template>
    <div class="<%= data.lowerName %>">
      <div><%= data.lowerName %></div>
    </div>
  </template>
  
  <script setup lang="ts" name="<%= data.lowerName %>"></script>
  
  <style scoped>
  .<%= data.lowerName %> {
  }
  </style>
  