<template>
    <div class="<%= data.lowerName %>">
        <div>{{ message }}</div>
    </div>
</template>

<script>
    export default {
        name: "<%= data.name %>",
        component: {

        },
        props: {

        },
        data() {
            return {
                message: "Hello <%= data.name %>"
            }
        },
        computed: {

        },
        mounted() {

        },
        methods: {

        }
    }
</script>

<style scoped>
    .<%= data.lowerName %> {
        
    }
</style>